<footer th:fragment="footer" class="bg-white font-['Montserrat'] text-black pt-16 pb-8 border-t border-gray-800">
    <div class="container mx-auto px-6">
        <div class="grid grid-cols-1 md:grid-cols-4 gap-12 mb-12">

            <div class="col-span-1">
                <div class="flex items-center gap-2">
                    <img src="/customer/images/logo.png" class="w-[40px] h-[40px]"/>
                    <a href="/" class="flex items-center gap-3 group">
                        <div class="font-['Montserrat'] text-2xl font-extrabold italic uppercase tracking-tight ">
                            B<span class="text-orange-600">2</span>L Shoes
                        </div>
                    </a>
                </div>
                <p class="text-black text-sm mb-4">"Thế giới giày hiệu - Hội tụ mọi đam mê."</p>
            </div>

            <div>
                <h3 class="font-bold text-sm uppercase tracking-widest mb-6">Mua sắm</h3>
                <ul class="text-sm text-gray-600 space-y-3">
                    <li><a href="#" class="hover:text-white transition">Giày Nam</a></li>
                    <li><a href="#" class="hover:text-white transition">Giày Nữ</a></li>
                    <li><a href="#" class="hover:text-white transition">Phụ kiện</a></li>
                    <li><a href="#" class="hover:text-white transition">New Arrivals</a></li>
                </ul>
            </div>

            <div>
                <h3 class="font-bold text-sm uppercase tracking-widest mb-6">Hỗ trợ</h3>
                <ul class="text-sm text-gray-600 space-y-3">
                    <li><a href="#" class="hover:text-white transition">Hướng dẫn mua hàng</a></li>
                    <li><a href="#" class="hover:text-white transition">Hướng dẫn chọn size giày</a></li>
                    <li><a href="#" class="hover:text-white transition">Chính sách đổi trả & bảo hành</a></li>
                    <li><a href="#" class="hover:text-white transition">Điều khoản website</a></li>
                    <li><a href="#" class="hover:text-white transition">Chính sách bảo mật</a></li>
                </ul>
            </div>

            <div>
                <h3 class="font-bold text-sm uppercase tracking-widest mb-6">Liên hệ</h3>
                <ul class="text-sm text-gray-600 space-y-3">
                    <li class="flex items-start gap-3">
                        <i class="fa-solid fa-location-dot mt-1"></i>
                        <span>123 Đường ABC, Thủ Đức, TP.HCM</span>
                    </li>
                    <li class="flex items-center gap-3">
                        <i class="fa-solid fa-phone"></i>
                        <span>0123 456 789</span>
                    </li>
                    <li class="flex items-center gap-3">
                        <i class="fa-solid fa-envelope"></i>
                        <span>support@b2lshoes.com</span>
                    </li>
                </ul>
                <div class="flex gap-4 text-xl mt-6 text-gray-600">
                    <a href="#" class="hover:text-white transition"><i class="fa-brands fa-facebook-f"></i></a>
                    <a href="#" class="hover:text-white transition"><i class="fa-brands fa-instagram"></i></a>
                    <a href="#" class="hover:text-white transition"><i class="fa-brands fa-tiktok"></i></a>
                </div>
            </div>
        </div>

        <div class="text-xs text-gray-600">
            <p>Copyright ©2025 B2L Shoes.</p>
        </div>
    </div>
    <script th:src="@{/customer/js/main.js}"></script>
</footer>